[submodule "lib/ServoTimer2"]
	path = lib/ServoTimer2
	url = git@github.com:nabontra/ServoTimer2.git
[submodule "lib/Simple_Wire"]
	path = lib/Simple_Wire
	url = git@github.com:Riffer/Simple_Wire.git
[submodule "lib/Simple_MPU6050"]
	path = lib/Simple_MPU6050
	url = git@github.com:Riffer/Simple_MPU6050.git
[submodule "lib/BMP180_Breakout_Arduino_Library"]
	path = lib/BMP180_Breakout_Arduino_Library
	url = git@github.com:sparkfun/BMP180_Breakout_Arduino_Library.git
